.card {
    display: flex;
    flex-direction: column;
}

.card img {
    width: 395px;
    height: 269px;
    border-radius: 15px;
    margin-bottom: 0.3em;
    box-shadow: -2px 2px 6px 0px #00000070;
}

.card p {
    color: #333333;
    font-weight: 600;
    align-self: flex-start;
    margin: 0.4em;
}

#property-type {
    color: #828282;
    font-weight: 500;
    font-size: 14px;
    margin: 0.3em;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rating {
    font-size: 12px;
    font-weight: 400;
}

.ratings-div {
    display: flex;
    align-items: center;
}

.ratings-div svg {
    height: 12px;
    width: 12px;
    color: #EB5757;
}