.card {
    display: flex;
    flex-direction: column;
}

.card img {
    width: 395px;
    height: 269px;
    border-radius: 5%;
}

.card p {
    color: #333333;
    font-weight: 600;
    align-self: flex-start;
    margin: 0.4em;
}

#property-type {
    color: #828282;
    font-weight: 500;
    font-size: 14px;
    margin: 0.3em;
}