.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 1.5em;
}

#nav-logo {
  height: 1.6em;
}

#nav-search {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 0.7em;
  border: none;
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
}

.filter-drawer {
  width: 100vw;
  height: 25vh;
  top: 0px;
  z-index: 1;
  position: absolute;
  background: #ffffff;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.active {
  visibility: visible;
}

.filter-drawer input {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 0.7em;
  border: none;
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
  margin: 0.5em;
  width: 25em;
}

#filter-search {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 0.7em 1.1em;
  border: none;
  font-family: 'Montserrat', sans-serif;
  background: #EB5757;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-weight: 600;
}

#filter-search svg {
  margin-right: 5px;
}

#close-button {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 0.5em;
  border: none;
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
  margin: 0.5em;
  color: #EB5757;
  cursor: pointer;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 17px;
  font-weight: 600;
}

.property-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  width: 90vw;
  margin: auto;
}

.filter-search {
  display: flex;
}

#filter {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 0.7em;
  border: none;
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
  margin-right: 1em;
  color: #333333;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#filter svg {
  margin-right: 0.3em;
  height: 1.3em;
  width: 1.3em;
}